In [1]:
from pymongo import MongoClient
import pandas as pd
import re

In [2]:
client = MongoClient('mongodb://localhost:27017/')
db = client.companies

In [3]:
datab = db.companies.find()
df = pd.DataFrame(datab)
display(df.head(1)) # DataFrame original
df.shape # Comprobar filas y columnas del DF original

,_id,acquisition,acquisitions,alias_list,blog_feed_url,blog_url,category_code,competitions,created_at,crunchbase_url,...,phone_number,products,providerships,relationships,screenshots,tag_list,total_money_raised,twitter_username,updated_at,video_embeds
0,52cdef7c4bab8bd675297d8b,None,[],Zoho ManageEngine,,,enterprise,[],2007-05-25 19:24:22,http://www.crunchbase.com/company/adventnet,...,925-924-9500,[],"[{'title': 'DHFH', 'is_past': True, 'provider'...","[{'is_past': True, 'title': 'CEO and Co-Founde...","[{'available_sizes': [[[150, 94], 'assets/imag...",,$0,manageengine,Wed Oct 31 18:26:09 UTC 2012,[]

(18801, 42)

In [4]:
# Se empieza a limpiar el DF con queries por pymongo

In [5]:
mongo_office= db.companies.find({
    "offices":{"$not":{"$size":0}}},
    {"name":1, "offices":1, "category_code":1, "founded_year":1,"description":1,
     "deadpooled_year":1, "number_of_employees":1, "total_money_raised":1,}) 
# Empresas con una o más oficinas

In [6]:
df_office = pd.DataFrame(mongo_office)

In [7]:
df_office.isna().sum()

_id                        0
category_code            652
deadpooled_year        12957
description             3454
founded_year            2487
name                       0
number_of_employees     6277
offices                    0
total_money_raised         0
dtype: int64

In [8]:
def getFirst(data):
    data = data['offices']
#    return (len(data),data[0]['latitude'],data[0]['longitude'])

    # Only create the geoJSON object if all geodata is available
    principal = None
    if data[0]['latitude'] and data[0]['longitude']:
        principal = {
            "type":"Point",
            "coordinates":[data[0]['longitude'], data[0]['latitude']]
        }

    return {
        "totalOffices": len(data),
        "lat": data[0]['latitude'],
        "lng": data[0]['longitude'],
        "oficina_principal": principal
    }


new_df_coords = df_office[["offices"]].apply(getFirst, result_type="expand", axis=1)

In [9]:
def get_country_code(data):
    data = data['offices']
    if data[0]['country_code']:
        return data[0]

In [10]:
new_country_code = df_office[["offices"]].apply(get_country_code, result_type="expand", axis=1)

In [11]:
# concatenar dataframes 
df_clean = pd.concat([new_df_coords,df_office, new_country_code], axis=1)[["name","category_code", "deadpooled_year", 
                                                            "founded_year","description","oficina_principal", "lat", 
                                                         "lng", "number_of_employees", "total_money_raised", "country_code"]]

In [12]:
df_clean.isna().sum()

name                       0
category_code            652
deadpooled_year        12957
founded_year            2487
description             3454
description             1779
oficina_principal       4126
lat                     4126
lng                     4126
number_of_employees     6277
total_money_raised         0
country_code               0
dtype: int64

In [13]:
df_clean.head()

,name,category_code,deadpooled_year,founded_year,description,description,oficina_principal,lat,lng,number_of_employees,total_money_raised,country_code
0,AdventNet,enterprise,2.0,1996.0,Server Management Software,Headquarters,"{'type': 'Point', 'coordinates': [-121.904945,...",37.692934,-121.904945,600.0,$0,USA
1,Zoho,software,3.0,2005.0,Online Business Apps Suite,Headquarters,"{'type': 'Point', 'coordinates': [-121.904945,...",37.692934,-121.904945,1600.0,$0,USA
2,Digg,news,NaN,2004.0,user driven social content website,None,"{'type': 'Point', 'coordinates': [-122.394523,...",37.764726,-122.394523,60.0,$45M,USA
3,Postini,web,NaN,1999.0,None,None,"{'type': 'Point', 'coordinates': [-122.247573,...",37.506885,-122.247573,NaN,$0,USA
4,Geni,web,NaN,2006.0,Geneology social network site,Headquarters,"{'type': 'Point', 'coordinates': [-118.393064,...",34.090368,-118.393064,18.0,$16.5M,USA

In [14]:
#limpiar nulls de lat y lng
df_clean.dropna(subset=["lat", "lng"], inplace=True)

In [15]:
df_clean.isna().sum()

name                      0
category_code           218
deadpooled_year        8983
founded_year           1654
description            2703
description            1532
oficina_principal         0
lat                       0
lng                       0
number_of_employees    4004
total_money_raised        0
country_code              0
dtype: int64

In [16]:
# Limpiando todas las empresas que han cerrado (deadpooled)
df_clean = df_clean[df_clean['deadpooled_year'].isna()]

In [17]:
# Quitando todos los nulos de number_of_employees
df_clean.dropna(subset=["number_of_employees"], inplace=True)

# Limpiando todas las empresas que tienen 0 trabajadores
df_clean = df_clean.drop(df_clean[df_clean["number_of_employees"]== 0].index)

In [18]:
df_clean['founded_year']=df_clean['founded_year'].fillna(0.0)

In [19]:
df_clean['founded_year'].dtype

dtype('float64')

In [20]:
# Cambiando los nulls de la columna founded_year por 0
#df_clean['founded_year'].fillna(0, inplace=True)

# Pasando de float --> integer la columna founded_year
df_clean['founded_year']=df_clean['founded_year'].astype(int)
df_clean['number_of_employees']=df_clean['number_of_employees'].astype(int)

In [21]:
# Limpiando los nullos de category_code
df_clean.dropna(subset=["category_code"], inplace=True)

In [22]:
# Recuento de valores para categorizar 
df_clean['category_code'].value_counts()

web                 1130
software             977
advertising          374
other                325
games_video          317
mobile               284
enterprise           272
consulting           267
ecommerce            243
network_hosting      209
public_relations     195
search               143
hardware              94
security              43
analytics             37
cleantech             35
social                32
biotech               25
education             20
finance               19
travel                17
music                 17
semiconductor         15
news                  14
messaging             12
health                 8
photo_video            8
real_estate            7
legal                  5
sports                 4
fashion                4
hospitality            4
transportation         3
medical                3
design                 2
automotive             2
nonprofit              1
nanotech               1
manufacturing          1
Name: category_code, dtype: int64

In [23]:
def re_category_code(x):
    #Categorizando en empresas tecnólogicas y en empresas de videjuegos
    x = str(x)
    if (re.search ('\s*([Gg]ame)\s*', x)):
        return 'Empresa de videojuegos'

In [24]:
df_clean['category_code']=df_clean['category_code'].apply(re_category_code)

#Comprobando con cuantos valores me quedo
df_clean['category_code'].value_counts()

Empresa de videojuegos    317
Name: category_code, dtype: int64

In [25]:
df_clean['category_code'].value_counts()

Empresa de videojuegos    317
Name: category_code, dtype: int64

In [26]:
# Limpiando las columnas con 0 total_money_raised
df_clean=df_clean[df_clean.total_money_raised!='$0']
df_clean=df_clean[df_clean.total_money_raised!='€0']
df_clean=df_clean[df_clean.total_money_raised!='¥0']
df_clean=df_clean[df_clean.total_money_raised!='£0']

df_clean.head()

,name,category_code,deadpooled_year,founded_year,description,description,oficina_principal,lat,lng,number_of_employees,total_money_raised,country_code
2,Digg,None,NaN,2004,user driven social content website,None,"{'type': 'Point', 'coordinates': [-122.394523,...",37.764726,-122.394523,60,$45M,USA
4,Geni,None,NaN,2006,Geneology social network site,Headquarters,"{'type': 'Point', 'coordinates': [-118.393064,...",34.090368,-118.393064,18,$16.5M,USA
12,Scribd,None,NaN,2007,Read Unlimited Books,HQ,"{'type': 'Point', 'coordinates': [-122.404052,...",37.789634,-122.404052,50,$25.8M,USA
15,Twitter,None,NaN,2006,Real time communication platform,,"{'type': 'Point', 'coordinates': [-122.4169244...",37.776805,-122.416924,1300,$1.16B,USA
16,Facebook,None,NaN,2004,Social network,Headquarters,"{'type': 'Point', 'coordinates': [-122.151801,...",37.416050,-122.151801,5299,$2.43B,USA

In [27]:
df_clean.isna().sum()

name                      0
category_code          1364
deadpooled_year        1466
founded_year              0
description             103
description             161
oficina_principal         0
lat                       0
lng                       0
number_of_employees       0
total_money_raised        0
country_code              0
dtype: int64

In [28]:
df_clean['category_code'].value_counts()

Empresa de videojuegos    102
Name: category_code, dtype: int64

In [29]:
df_clean = df_clean.drop("description", axis=1)

In [30]:
df_clean

,name,category_code,deadpooled_year,founded_year,oficina_principal,lat,lng,number_of_employees,total_money_raised,country_code
2,Digg,None,NaN,2004,"{'type': 'Point', 'coordinates': [-122.394523,...",37.764726,-122.394523,60,$45M,USA
4,Geni,None,NaN,2006,"{'type': 'Point', 'coordinates': [-118.393064,...",34.090368,-118.393064,18,$16.5M,USA
12,Scribd,None,NaN,2007,"{'type': 'Point', 'coordinates': [-122.404052,...",37.789634,-122.404052,50,$25.8M,USA
15,Twitter,None,NaN,2006,"{'type': 'Point', 'coordinates': [-122.4169244...",37.776805,-122.416924,1300,$1.16B,USA
16,Facebook,None,NaN,2004,"{'type': 'Point', 'coordinates': [-122.151801,...",37.416050,-122.151801,5299,$2.43B,USA
21,Plaxo,None,NaN,2002,"{'type': 'Point', 'coordinates': [-122.055197,...",37.387845,-122.055197,50,$28.3M,USA
22,MeetMoi,None,NaN,2007,"{'type': 'Point', 'coordinates': [-73.985506, ...",40.757929,-73.985506,15,$5.58M,USA
23,eBay,None,NaN,1995,"{'type': 'Point', 'coordinates': [-121.930035,...",37.295005,-121.930035,15000,$6.7M,USA
24,Powerset,None,NaN,2006,"{'type': 'Point', 'coordinates': [-122.395289,...",37.778613,-122.395289,60,$22.5M,USA
25,Technorati,None,NaN,2002,"{'type': 'Point', 'coordinates': [-122.393041,...",37.779558,-122.393041,35,$32.1M,USA
27,AddThis,None,NaN,2004,"{'type': 'Point', 'coordinates': [-77.245195, ...",38.926172,-77.245195,120,$73M,USA
28,OpenX,None,NaN,2008,"{'type': 'Point', 'coordinates': [-118.1327468...",34.149471,-118.132747,305,$75.5M,USA
30,Mahalo,None,NaN,2007,"{'type': 'Point', 'coordinates': [-118.487267,...",34.017606,-118.487267,40,$21M,USA
32,Kyte,Empresa de videojuegos,NaN,2006,"{'type': 'Point', 'coordinates': [-122.409173,...",37.788482,-122.409173,40,$23.4M,USA
34,Jingle Networks,None,NaN,2005,"{'type': 'Point', 'coordinates': [-122.173887,...",37.480999,-122.173887,35,$88.7M,USA
37,Meetup,None,NaN,2002,"{'type': 'Point', 'coordinates': [-73.995722, ...",40.726040,-73.995722,75,$18.3M,USA
40,LifeLock,None,NaN,2005,"{'type': 'Point', 'coordinates': [-111.938739,...",33.429859,-111.938739,644,$178M,USA
42,Cisco,None,NaN,1984,"{'type': 'Point', 'coordinates': [-121.95377, ...",37.408802,-121.953770,63000,$2.5M,USA
47,Yahoo!,None,NaN,1994,"{'type': 'Point', 'coordinates': [-122.025485,...",37.418531,-122.025485,13600,$6.8M,USA
48,Jajah,None,NaN,2005,"{'type': 'Point', 'coordinates': [-122.0899512...",37.423390,-122.089951,110,$33M,USA
53,AdaptiveBlue,Empresa de videojuegos,NaN,2007,"{'type': 'Point', 'coordinates': [-74.3372, 40...",40.801358,-74.337200,15,$24M,USA
54,Livestream,Empresa de videojuegos,NaN,2007,"{'type': 'Point', 'coordinates': [-73.995625, ...",40.726155,-73.995625,120,$14.7M,USA
55,Ustream,Empresa de videojuegos,NaN,2007,"{'type': 'Point', 'coordinates': [-122.07948, ...",37.392936,-122.079480,250,$60.1M,USA
56,Pando Networks,Empresa de videojuegos,NaN,2004,"{'type': 'Point', 'coordinates': [-73.99873, 4...",40.722655,-73.998730,23,$11M,USA
62,GrandCentral,None,NaN,2006,"{'type': 'Point', 'coordinates': [-121.932202,...",37.465645,-121.932202,3,$4M,USA
64,CriticalMetrics,None,NaN,2007,"{'type': 'Point', 'coordinates': [-119.306607,...",37.269175,-119.306607,4,$100k,USA
67,Spock,None,NaN,2006,"{'type': 'Point', 'coordinates': [-122.217964,...",37.488336,-122.217964,30,$7M,USA
69,SodaHead,None,NaN,2007,"{'type': 'Point', 'coordinates': [-119.306607,...",37.269175,-119.306607,25,$12.7M,USA
87,Yelp,None,NaN,2004,"{'type': 'Point', 'coordinates': [-122.402195,...",37.786183,-122.402195,800,$90M,USA
89,Wakoopa,None,NaN,2007,"{'type': 'Point', 'coordinates': [4.8948623, 5...",52.374523,4.894862,8,$1M,NLD
...,...,...,...,...,...,...,...,...,...,...
13147,StyleCaster,None,NaN,2008,"{'type': 'Point', 'coordinates': [-73.9900984,...",40.745050,-73.990098,60,$5M,USA
13153,Content Syndicate: Words on Demand,None,NaN,2007,"{'type': 'Point', 'coordinates': [55.2373803, ...",25.191005,55.237380,15,$1.5M,ARE
13190,GreenVolts,None,NaN,2005,"{'type': 'Point', 'coordinates': [-122.398669,...",37.790153,-122.398669,68,$96.8M,USA
13249,Teambox,None,NaN,2009,"{'type': 'Point', 'coordinates': [2.1920231, 4...",41.406335,2.192023,35,$6.75M,ESP
13279,Testplant,None,NaN,2008,"{'type': 'Point', 'coordinates': [-0.1037742, ...",51.517356,-0.103774,50,$2.56M,GBR
13304,BzzAgent,None,NaN,2001,"{'type': 'Point', 'coordinates': [-71.065924, ...",42.341899,-71.065924,60,$14.5M,USA
13329,SKURA,None,NaN,1996,"{'type': 'Point', 'coordinates': [-79.6711308,...",43.504171,-79.671131,62,$3M,CAN
13337,Homesnap,None,NaN,2008,"{'type': 'Point', 'coordinates': [-77.084811, ...",38.960381,-77.084811,18,$5.5M,USA
13355,Adomo,None,NaN,1999,"{'type': 'Point', 'coordinates': [-122.029954,...",37.323345,-122.029954,40,$22M,USA
13364,GreenBytes,None,NaN,2007,"{'type': 'Point', 'coordinates': [-71.421059, ...",41.829229,-71.421059,54,$35M,USA
13368,Culture Jam,None,NaN,2008,"{'type': 'Point', 'coordinates': [-118.4660597...",34.013715,-118.466060,15,$1.7M,USA
13381,Morcom International,None,NaN,1984,"{'type': 'Point', 'coordinates': [-77.4276702,...",38.904345,-77.427670,15,$100k,USA
13423,AgileJ Limited,None,NaN,2006,"{'type': 'Point', 'coordinates': [-0.3062632, ...",51.393654,-0.306263,3,$100k,GBR
13424,Anchor Bay Technologies,None,NaN,2001,"{'type': 'Point', 'coordinates': [-121.9665932...",37.249635,-121.966593,16,$10M,USA
13431,Kineto Wireless,None,NaN,2001,"{'type': 'Point', 'coordinates': [-121.918248,...",37.405474,-121.918248,95,$42.4M,USA
13433,Sierra Monolithics,None,NaN,1986,"{'type': 'Point', 'coordinates': [-118.3895144...",33.839176,-118.389514,60,$25.2M,USA
13437,Venturi Wireless,None,NaN,1993,"{'type': 'Point', 'coordinates': [-122.0018725...",37.409999,-122.001873,65,$10M,USA
13438,GoTV Networks,None,NaN,1997,"{'type': 'Point', 'coordinates': [-118.448703,...",34.150840,-118.448703,40,$28M,USA
13520,Continuity Engine,None,NaN,2008,"{'type': 'Point', 'coordinates': [-73.2435522,...",41.327918,-73.243552,11,$7.84M,USA
13531,FundRazr,None,NaN,2008,"{'type': 'Point', 'coordinates': [-123.1092622...",49.284394,-123.109262,6,C$325k,CAN
13532,Pipit Interactive,None,NaN,2008,"{'type': 'Point', 'coordinates': [-118.47036, ...",34.045499,-118.470360,10,$900k,USA
13571,InfoLogix,None,NaN,2001,"{'type': 'Point', 'coordinates': [-75.1069232,...",40.192329,-75.106923,206,$3M,USA
13574,smartFOCUS,None,NaN,1999,"{'type': 'Point', 'coordinates': [-2.5909744, ...",51.452512,-2.590974,550,$30M,GBR
13636,Arkeia Software,None,NaN,1996,"{'type': 'Point', 'coordinates': [-117.292746,...",33.132567,-117.292746,50,$4.08M,USA
13660,Vertro,None,NaN,1998,"{'type': 'Point', 'coordinates': [-74.006023, ...",40.726160,-74.006023,50,$250k,USA
13675,Jelli,None,NaN,2008,"{'type': 'Point', 'coordinates': [-122.321836,...",37.559090,-122.321836,12,$16.6M,USA
13677,PubliAtis,None,NaN,2006,"{'type': 'Point', 'coordinates': [2.3406954, 4...",48.869995,2.340695,10,€1M,FRA
13682,ANTs Software,None,NaN,1979,"{'type': 'Point', 'coordinates': [-122.347654,...",37.590056,-122.347654,3,$28.3M,USA
13695,Tiny Speck,Empresa de videojuegos,NaN,2009,"{'type': 'Point', 'coordinates': [-123.109217,...",49.282455,-123.109217,45,$17.2M,CAN
13730,Getyoo,None,NaN,2009,"{'type': 'Point', 'coordinates': [4.3464721, 5...",50.839970,4.346472,10,€1.13M,BEL

In [31]:
df_clean=df_clean[df_clean.category_code=='Empresa de videojuegos']

df_clean

,name,category_code,deadpooled_year,founded_year,oficina_principal,lat,lng,number_of_employees,total_money_raised,country_code
32,Kyte,Empresa de videojuegos,NaN,2006,"{'type': 'Point', 'coordinates': [-122.409173,...",37.788482,-122.409173,40,$23.4M,USA
53,AdaptiveBlue,Empresa de videojuegos,NaN,2007,"{'type': 'Point', 'coordinates': [-74.3372, 40...",40.801358,-74.337200,15,$24M,USA
54,Livestream,Empresa de videojuegos,NaN,2007,"{'type': 'Point', 'coordinates': [-73.995625, ...",40.726155,-73.995625,120,$14.7M,USA
55,Ustream,Empresa de videojuegos,NaN,2007,"{'type': 'Point', 'coordinates': [-122.07948, ...",37.392936,-122.079480,250,$60.1M,USA
56,Pando Networks,Empresa de videojuegos,NaN,2004,"{'type': 'Point', 'coordinates': [-73.99873, 4...",40.722655,-73.998730,23,$11M,USA
104,RockYou,Empresa de videojuegos,NaN,2005,"{'type': 'Point', 'coordinates': [-122.206893,...",37.484619,-122.206893,106,$136M,USA
132,iLike,Empresa de videojuegos,NaN,2002,"{'type': 'Point', 'coordinates': [-122.323408,...",47.615313,-122.323408,28,$16.5M,USA
188,hi5,Empresa de videojuegos,NaN,2003,"{'type': 'Point', 'coordinates': [-122.400558,...",37.788668,-122.400558,100,$52M,USA
203,Curse,Empresa de videojuegos,NaN,2006,"{'type': 'Point', 'coordinates': [-122.399972,...",37.787092,-122.399972,58,$12M,USA
213,Vuze,Empresa de videojuegos,NaN,2005,"{'type': 'Point', 'coordinates': [-122.2262606...",37.485865,-122.226261,20,$34M,USA
240,BuddyTV,Empresa de videojuegos,NaN,2005,"{'type': 'Point', 'coordinates': [-122.356756,...",47.619680,-122.356756,20,$10.6M,USA
279,Aniboom,Empresa de videojuegos,NaN,2006,"{'type': 'Point', 'coordinates': [34.851612, 3...",31.046051,34.851612,25,$14.5M,ISR
332,Kongregate,Empresa de videojuegos,NaN,2006,"{'type': 'Point', 'coordinates': [-122.401245,...",37.786942,-122.401245,20,$19M,USA
433,MocoSpace,Empresa de videojuegos,NaN,2005,"{'type': 'Point', 'coordinates': [-71.058768, ...",42.350274,-71.058768,25,$10.5M,USA
487,OMGPOP,Empresa de videojuegos,NaN,2006,"{'type': 'Point', 'coordinates': [-74.001704, ...",40.723384,-74.001704,50,$16.6M,USA
492,Crunchyroll,Empresa de videojuegos,NaN,2008,"{'type': 'Point', 'coordinates': [-122.393229,...",37.781265,-122.393229,50,$4.8M,USA
505,hulu,Empresa de videojuegos,NaN,2007,"{'type': 'Point', 'coordinates': [-118.456806,...",34.031276,-118.456806,153,$100M,USA
550,FlowPlay,Empresa de videojuegos,NaN,2006,"{'type': 'Point', 'coordinates': [-122.335943,...",47.601532,-122.335943,30,$3.97M,USA
601,mig33,Empresa de videojuegos,NaN,2005,"{'type': 'Point', 'coordinates': [-122.343679,...",37.580304,-122.343679,100,$32.4M,SGP
602,Metaplace,Empresa de videojuegos,NaN,2006,"{'type': 'Point', 'coordinates': [-117.077311,...",33.020832,-117.077311,12,$9.4M,USA
605,Realius,Empresa de videojuegos,NaN,2006,"{'type': 'Point', 'coordinates': [-122.26999, ...",37.887864,-122.269990,3,$500k,USA
666,Rupture,Empresa de videojuegos,NaN,0,"{'type': 'Point', 'coordinates': [-122.395234,...",37.783898,-122.395234,25,$3M,USA
714,Veodia,Empresa de videojuegos,NaN,2006,"{'type': 'Point', 'coordinates': [-122.300246,...",37.553743,-122.300246,15,$8.3M,USA
756,Zattoo,Empresa de videojuegos,NaN,2005,"{'type': 'Point', 'coordinates': [-83.734673, ...",42.292649,-83.734673,45,$10M,USA
794,GotCast,Empresa de videojuegos,NaN,2007,"{'type': 'Point', 'coordinates': [-118.468672,...",34.064139,-118.468672,5,$50k,USA
939,Kewego,Empresa de videojuegos,NaN,2003,"{'type': 'Point', 'coordinates': [2.213749, 46...",46.227638,2.213749,65,$19.4M,FRA
1123,Zynga,Empresa de videojuegos,NaN,2007,"{'type': 'Point', 'coordinates': [-122.404234,...",37.765158,-122.404234,115,$860M,USA
1157,WorldTV,Empresa de videojuegos,NaN,2006,"{'type': 'Point', 'coordinates': [-8.6267726, ...",52.663857,-8.626773,5,$1M,IRL
1372,Netflix,Empresa de videojuegos,NaN,1997,"{'type': 'Point', 'coordinates': [-121.968687,...",37.251420,-121.968687,2000,$230M,USA
1389,Social Gaming Network,Empresa de videojuegos,NaN,2011,"{'type': 'Point', 'coordinates': [-122.161523,...",37.446823,-122.161523,100,$17.1M,USA
...,...,...,...,...,...,...,...,...,...,...
6549,Radio One Llama,Empresa de videojuegos,NaN,2006,"{'type': 'Point', 'coordinates': [-88.271074, ...",40.112800,-88.271074,10,$1M,USA
6741,Apaja,Empresa de videojuegos,NaN,2001,"{'type': 'Point', 'coordinates': [24.945167, 6...",60.171821,24.945167,44,€1.75M,FIN
6879,GotGame,Empresa de videojuegos,NaN,2006,"{'type': 'Point', 'coordinates': [-122.395785,...",37.777720,-122.395785,15,$1M,USA
6887,The Game Creators,Empresa de videojuegos,NaN,1999,"{'type': 'Point', 'coordinates': [-2.092073, 5...",53.296176,-2.092073,7,$25k,GBR
6941,SureSpeak,Empresa de videojuegos,NaN,2007,"{'type': 'Point', 'coordinates': [-87.632519, ...",41.889183,-87.632519,8,$1.6M,USA
7260,Citizenside,Empresa de videojuegos,NaN,2006,"{'type': 'Point', 'coordinates': [2.3179601, 4...",48.892699,2.317960,12,€1.04M,FRA
7928,VIDDIX,Empresa de videojuegos,NaN,2007,"{'type': 'Point', 'coordinates': [5.1682449, 5...",52.084853,5.168245,5,€100k,NLD
8185,Tengaged,Empresa de videojuegos,NaN,2010,"{'type': 'Point', 'coordinates': [2.1634249, 4...",41.424123,2.163425,1,$15k,ESP
8431,RGB Networks,Empresa de videojuegos,NaN,2003,"{'type': 'Point', 'coordinates': [-122.0216271...",37.412371,-122.021627,125,$52M,USA
8434,MyOtherDrive,Empresa de videojuegos,NaN,2005,"{'type': 'Point', 'coordinates': [-84.1949463,...",39.760542,-84.194946,5,$1M,USA
8908,CreationFlow,Empresa de videojuegos,NaN,2007,"{'type': 'Point', 'coordinates': [-58.4339539,...",-34.602858,-58.433954,4,$150k,ARG
9024,Spoonfed,Empresa de videojuegos,NaN,2006,"{'type': 'Point', 'coordinates': [-1.2186724, ...",51.757745,-1.218672,16,£477k,GBR
9985,BASH Gaming,Empresa de videojuegos,NaN,2010,"{'type': 'Point', 'coordinates': [-122.0780632...",37.556171,-122.078063,25,$1M,USA
9988,Geewa,Empresa de videojuegos,NaN,2005,"{'type': 'Point', 'coordinates': [14.4505336, ...",50.093849,14.450534,60,€1.5M,CZE
9997,Major League Gaming,Empresa de videojuegos,NaN,2002,"{'type': 'Point', 'coordinates': [-73.97593, 4...",40.752672,-73.975930,45,$69M,USA
10052,Dodreams,Empresa de videojuegos,NaN,2008,"{'type': 'Point', 'coordinates': [24.9438568, ...",60.165982,24.943857,6,€750k,FIN
10253,Unity Technologies,Empresa de videojuegos,NaN,2004,"{'type': 'Point', 'coordinates': [12.530107, 5...",55.692461,12.530107,200,$17.5M,USA
10556,SCVNGR,Empresa de videojuegos,NaN,2008,"{'type': 'Point', 'coordinates': [-71.0680027,...",42.340653,-71.068003,60,$40.8M,USA
10574,Owlient,Empresa de videojuegos,NaN,2005,"{'type': 'Point', 'coordinates': [2.3032201, 4...",48.830809,2.303220,40,€3M,FRA
10595,Arimaz,Empresa de videojuegos,NaN,2008,"{'type': 'Point', 'coordinates': [6.5877024, 4...",46.538925,6.587702,5,$400k,CHE
10631,Z2Live,Empresa de videojuegos,NaN,2009,"{'type': 'Point', 'coordinates': [-122.3399782...",47.610301,-122.339978,130,$6.5M,USA
10632,ZillionTV,Empresa de videojuegos,NaN,0,"{'type': 'Point', 'coordinates': [-121.9973546...",37.373872,-121.997355,100,$18.1M,USA
10668,Preview Networks,Empresa de videojuegos,NaN,2004,"{'type': 'Point', 'coordinates': [12.5800751, ...",55.665981,12.580075,26,$4M,DNK
11191,Busca Corp,Empresa de videojuegos,NaN,2007,"{'type': 'Point', 'coordinates': [-117.274602,...",32.841791,-117.274602,45,$5M,USA
11690,Saavn,Empresa de videojuegos,NaN,2006,"{'type': 'Point', 'coordinates': [-73.98618, 4...",40.743877,-73.986180,25,$6M,USA
11863,2 Minutes,Empresa de videojuegos,NaN,2000,"{'type': 'Point', 'coordinates': [2.3698033, 4...",48.850206,2.369803,105,$1.66M,FRA
12547,BetKlub,Empresa de videojuegos,NaN,2008,"{'type': 'Point', 'coordinates': [2.3639174, 4...",48.878761,2.363917,3,€91k,FRA
12730,Bigpoint,Empresa de videojuegos,NaN,2002,"{'type': 'Point', 'coordinates': [9.9762519, 5...",53.597305,9.976252,500,€420M,DEU
12754,Exent,Empresa de videojuegos,NaN,1992,"{'type': 'Point', 'coordinates': [-74.005568, ...",40.752380,-74.005568,100,$3M,USA
13695,Tiny Speck,Empresa de videojuegos,NaN,2009,"{'type': 'Point', 'coordinates': [-123.109217,...",49.282455,-123.109217,45,$17.2M,CAN

In [32]:
df_clean.to_json('/home/jjespper/Escritorio/data_fproyecto.json', orient='records')